<!DOCTYPE html>
<html>
  <head>
    <script src="//www.gstatic.com/cast/sdk/libs/caf_receiver/v3/cast_receiver_framework.js"></script>
    <style>
      body {
        --logo-image: url('https://img2.baidu.com/it/u=1172096996,2215268603&fm=253&fmt=auto&app=138&f=JPEG?w=900&h=383');
        --logo-repeat: no-repeat;
        --playback-logo-image: url('https://img2.baidu.com/it/u=1172096996,2215268603&fm=253&fmt=auto&app=138&f=JPEG?w=900&h=383');
        --theme-hue: 200;
        --progress-color: #03a9f4;
        --splash-image: url('https://img2.baidu.com/it/u=1172096996,2215268603&fm=253&fmt=auto&app=138&f=JPEG?w=900&h=383');
        --splash-size: cover;
        --background-color: #41bdf5;
      }
    </style>
    <script>
      var _gaq=[['_setAccount','UA-57927901-10'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </head>
  <body>
    <%= renderTemplate('_js_base') %>

    <cast-media-player></cast-media-player>

    <script>
      import("<%= latestMediaJS %>");
      window.latestJS = true;
    </script>

    <script>
      if (!window.latestJS) {
        <% if (useRollup) { %>
          _ls("/static/js/s.min.js").onload = function() {
            System.import("<%= es5MediaJS %>");
          };
        <% } else { %>
          _ls("<%= es5MediaJS %>");
        <% } %>
      }
    </script>
  </body>
</html>
